@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Thin.ttf') format('opentype');
    font-weight: 100;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Light.ttf') format('opentype');
    font-weight: 300;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf') format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Medium.ttf') format('opentype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Bold.ttf') format('opentype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Black.ttf') format('opentype');
    font-weight: 900;
  }
  
  h1, h2, h3, h4, h5, h6, p, a, span, sup, sub, button {
    font-family: 'Roboto';
  }
  
  p:empty{
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background: #C4B5FD !important;
    opacity: 1 !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #7C3AED!important;
    border-radius: 10px!important;
    width: 48px!important;
    transition: width 0.2s;
  }
 
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  }

  .open{
    overflow-y: hidden;
  }