@font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Regular.ttf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../public/fonts/Roboto-Bold.ttf') format('opentype');
    font-weight: 700;
  }
  
  h1, h2, h3, h4, h5, h6, p, a, span, sup, sub, button {
    font-family: 'Roboto' !important;
  }
  
  p:empty{
    display: none;
  }
  